@model BIRC.Models.Entities.SpareRepairer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SpareRepairer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageBin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageBin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtValidate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtValidate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitMeasure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitMeasure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOperation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
